/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
*::-webkit-input-placeholder {
   background-color: red;
}

*:-moz-placeholder { /* Firefox 18- */
   background-color: red;  
}

*::-moz-placeholder {  /* Firefox 19+ */
   background-color: red;  
}

*:-ms-input-placeholder {  
   background-color: red;  
}
td {
word-wrap: break-word;
}

.as_grid_container{
margin-top:20px;
}

td.setting_title{
width:200px;
max-width:200px;
}
td.id{
width:40px;
}

td.date{
max-width:150px;
}

td.key{
max-width:100px;
}

td.showreq{
width:50px;
}

td.expire{
width:50px;
}

td.message{
max-width:200px;
}

td.del{
width:50px;
}

.as_wrapper{
	margin:0 auto;
	font-family:Arial;
	color:#333;
	font-size:12px;
        width: 1200px;
}

td{
text-align:center;
}

td.artist{
max-width:80px;
}
td.title{
max-width:80px;
}

td.ipaddr{
max-width:65px;
}

.odd {
background-color:#5f5;
}
.even {
background-color:#9f9;
}

#main {
width:800px;
margin: auto;
}

#logo {
background-image: url(http://mrdeejay.co.uk/images/mrdeejay.png);
background-size: 30%;
background-repeat: no-repeat;
min-height:12em;
background-position:center 0.5em;
}

#gridder_addform {
max-width:100%;
}

#addnew {
display:none;
background:#9f9;
padding:1em;
border-radius:1em;
}

.newadd {
padding: 10px;
}

input[type=text] {
background-color: #ccffcc;
border:none;
padding:0.1em;
}

textarea#message {
border: none;
background-color: #ccffcc;
height:3em;
width: 100%;
resize: none;
}

table#addnew {
width: 100%;
margin: 0px 5px 10px 0px;
}

form {
margin-top: 15px;
margin-bottom: 15px;
}

body {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#addnewinput {
}

table {
border-collapse: collapse;
}

tr.addtable {
border: 2px solid black;
}

.addnewinput {
background-color:#00d200;
color: white;
padding:15px;
}

#addnewtable {
width:100%;
border: 0px;
color:white;
padding-bottom:20px;
}

img {
	border:none;
	outline:none;
}

a {
	text-decoration:none;
}

h1 {
background-color:#00d200;
padding:10px;
border-radius:0.5em;
color:white;
text-align: center;
margin-top: 0;
}

a.gridder_addnew{
background-color:#00d200;
padding:10px;
border-radius:10px;
color:white;
margin:2px;
}


a.logout{
background-color:#00d200;
padding:10px;
border-radius:10px;
color:white;
margin:2px;
}

a.menu{
background-color:#00d200;
padding:10px;
border-radius:10px;
color:white;
margin:2px;
}

.as_wrapper{
	font-family:Arial;
	color:#333;
        margin-top:15px;
}
.h1 a {
	text-decoration:none;
	color:white;
}
.h1 a:hover {
	text-decoration:underline;
}

span {
color:black
}

h2 {
text-align:center;
margin: 10px;
}

hr {
border:0;
border-bottom:1px solid #ccc;
margin:10px -40px;
margin-bottom:30px
}
#login {
border-radius:10px;
border:2px solid #00d200;
padding:10px 40px 25px;
margin-top:20px;
background-color:#ddffdd;
}


input[type=submit] {
border:none;
cursor:pointer;
width:100%;
border-radius:0.5em;
margin:auto;
background-color:#00d200;
padding:10px;
color:white;
text-align: center;
text-transform: uppercase;

}

#logout {
float:right;
padding:5px;
border: 1px solid black;
border-radius: 5px;
}
a {
text-decoration:none;
color:#6495ed
}
i {
color:#6495ed
}

th {
border: 2px solid #00d200;
background-color:#00d200;
color:white;
}

td {
border: 2px solid #00d200;
padding: 5px;
}

tr #addnew {
border: 1px solid #00d200;
}

#submitbutton {
width:100%;
border-radius: 0.5em;
background-color:#00d200
border:none;
color:white;
padding:0.5em 0.1em;
}

#cancelbutton {
border-radius: 0.5em;
background-color:red;
color:white;
padding:0.35em 0.1em;
margin-top: 0.4em;
}

#cancelbutton a{
text-decoration:none;
color: white;
display:block;
text-align:center;
}

.as_gridder_table {
	border-collapse:collapse;
	border:#c9e7e9 solid 1px;
        margin-bottom:20px;
        width:100%;
}
.as_gridder_table tr.grid_header {
	font-weight:bold;
	background:#c9e7e9;
}
.as_gridder_table tr.odd {
	background-color:#fffeff;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}
.as_gridder_table tr.even {
	background-color:#dafaf9;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}
.as_gridder_table tr.odd:hover, .as_gridder_table tr.even:hover, .as_gridder_table tr.odd.active, .as_gridder_table tr.odd.active {
	background:#75E4F9;
}
.as_gridder_table tr td {
	vertical-align:middle;
}
.as_gridder_table  td {
	vertical-align:middle;
}
.grid_heading {
	display:block;
	padding:8px 4px;
}
.grid_content {
	display:block;
}
.grid_content.sno {
        text-align:center;
}
.grid_content span {
	padding:3px 0px;
}
.grid_content.editable {
}

.grid_content2.editable {
width:600px;
}
.gridder_input, .gridder_add {
	display:none;
	margin:0;
	padding:0;
	outline:none;
	border:none;
	padding:2px;
	border:#24E2F2 solid 1px;
}
input.gridder_input {
width:100%;
}

.gridder_add {
	display:block;
	border:#CCCCCC solid 1px;
}
.gridder_input.select, .gridder_add.select {
	height:auto;
}
.gridder_input:hover, .gridder_input:active, .gridder_add:hover, .gridder_add:active {
	outline:none;
}

